<div class="container">
    
    <div class="row">
        <h1>Posts</h1>
        <% if user_signed_in? %>
            <p> Hello! <%= current_user.email.split('@').first %></p><br>
        <%end%>
        <% if user_signed_in? %>
            <a href="/users/sign_out">Log out</a><br>
            <%else %>
            <a href="/users/sign_up">Sign up</a><Br>
            <a href="/users/sign_in">Log in</a><br>
        <%end%>
        <a href="/posts/new">Write a post</a>
            <% @posts.each do |post| %>
                <div class="well">
                    <a href ="/posts/<%= post.id %>/edit"> [edit] </a>
                    <a href ="/posts/<%= post.id %>"> [delete] </a><br>
                    Title : <%= post.title %> <br>
                    Content : <%= post.content %> <br>
                    Pciture : <img src="<%= post.image_url %>"> <br>
                            <img src="<%= post.tumb_url %>">
                    Writer : <%=post.user.email %><br>
                    When : <%= time_ago_in_words(post.created_at) + ' ago' %> <br><br>
                    <% post.comments.each do |comment| %>
                        <%= comment.content %> <br>
                    <% end %>
                    <form action="/posts/<%= post.id %>/comments" method="POST">
                        <textarea class="form-control" name="content" rows="3" placeholder="comment"></textarea><br>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            <% end %>
    </div>
</div>